<!DOCTYPE html>
<!-- saved from url=(0059)http://v4-alpha.getbootstrap.com/examples/starter-template/ -->
<html>
<head>
    <% include ../partials/head %>
    <!-- post.css -->
    <link href="/css/about.css" rel="stylesheet">
</head>

<body>
    <div class="wrap">
        <span class="make">만든 사람들</span><br><br>
        <div class="dev">
            <span class="developer">개발자</span><br>
            <span>고동현 김가린<br>
            김태영 이승훈 성화수</span>
        </div>
        <div class="design">
            <span class="designer">디자이너</span><br>
            <span>정문주 김소원</span>
        </div>



    </div>
</body>
</html>